src/main/mule/practice_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2fd73006-9d1c-4350-8f2c-e458f629fcc3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="1b5f0b8e-f466-4c35-9f14-c8b1701a53a7" />
	<flow name="practice_demoFlow" doc:id="656474d8-1fec-42c7-9faa-7ca186a67e2f" >
		<http:listener doc:name="Listener" doc:id="6657c82d-52cd-4483-997f-81b00c928a45" config-ref="HTTP_Listener_config" path="/demo"/>
		<ee:transform doc:name="Transform Message" doc:id="9ee253fb-9f27-4bfb-bf07-b120687c0cd4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Name" : "ABC"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="9f0e99e9-1768-4264-8d17-2797a3545e47" name="practice_demoSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="c00634ea-9cad-4df0-836b-18a6740c84f8" message="#[payload]"/>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b76d028a-6097-42d3-b13c-fe82aefe2bb4" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="3172469f-ac65-4a2c-be92-b3a48ab2e1e5" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Sucess"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
			<!-- <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="06736a90-9267-4706-be97-adb041e69f2c" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="f7b2c975-4560-42d9-baeb-68d27a0d425c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{
	Message : "Success"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate> -->
		</error-handler>
	</flow>
	<sub-flow name="practice_demoSub_Flow" doc:id="ae4ebf83-53c6-45cc-8a21-dce9aa3d7014" >
		<validation:is-number numberType="INTEGER" doc:name="Is number" doc:id="f187fae9-b9ac-43c2-9e40-d157f2663534" config-ref="Validation_Config" value="#[payload]" message="**This is INVALID**"/>
	</sub-flow>
	<flow name="practice_demoFlow1" doc:id="70abea6d-08c2-4b6a-9945-11b4b99d8a23" >
		<http:listener doc:name="Listener" doc:id="30c0019e-c954-4c65-990c-8de078f4edae" config-ref="HTTP_Listener_config" path="/for"/>
		<ee:transform doc:name="Transform Message" doc:id="7972720f-9aa2-460d-8304-eba02d81717b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
	1,
	2,
	3,
	4
]]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<set-variable value="#[[]]" doc:name="Set Variable" doc:id="cd861c03-b252-4940-84da-fd411c82159b" variableName="a"/>
		<foreach doc:name="For Each" doc:id="40ed2793-6719-4db0-9392-355a0070f75a" collection="#[payload]">
			<ee:transform doc:name="Transform Message" doc:id="def2e5ee-837b-45e9-b01f-ae8b451598a9" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="a" ><![CDATA[%dw 2.0
output application/json
---
(vars.a) + payload]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="0cfe6dde-3877-4143-8c76-da39dc71ba09">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.a]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="385a350f-dfb3-4dd3-9c97-258c5a97d8dd" message="#[payload]"/>
	</flow>
</mule>
